{% extends 'base.html.twig'%}

{% block title%}

HomePage

{%endblock%}

{% block body %}

<h1 class="text-3xl font-bold">
	<a href="{{ path('app_book_show', { id: myBook.id}) }}">
		{{myBook.title}}
	</a>
</h1>

<h2>Livres :
	{{books|length}}<h2>


		{%endblock%}
