{% extends 'base.html.twig' %}

{% block title %}New Reservation
{% endblock %}

{% block body %}
	<div class="max-w-lg mt-10 mx-auto space-y-3">
		<h1>Create new Reservation</h1>

		{{ include('reservation/_form.html.twig') }}

		<a href="{{ path('app_reservation_index') }}" class="font-medium text-slate-50 dark:text-zinc-800 hover:underline capitalize">back to list</a>
	</div>
{% endblock %}
