{% extends 'base.html.twig' %}


{% block title %}New Room
{% endblock %}

{% block body %}
	<div class="max-w-lg mt-10 mx-auto space-y-3">

		<h1>Create new Room</h1>

		{{ include('room/_form.html.twig') }}

		<a href="{{ path('app_room_index') }}" class="font-medium text-slate-50 dark:text-zinc-800 hover:underline capitalize">back to list</a>
	</div>
{% endblock %}
