{% block header %}

	<nav class="bg-white shadow dark:bg-gray-800">
		<div class="container justify-between flex items-center  p-6 mx-auto text-gray-600 capitalize dark:text-gray-300 space-x-6">
			<div></div>
			<div class="space-x-3">
				<a href="{{ path("app_login")}}" class="text-gray-800 transition-colors duration-300 transform dark:text-gray-200 border-b-2 hover:border-blue-500 {% if app.current_route == 'app_login' %} border-blue-500 {% else %} border-transparent {% endif %}">Log</a>
				{% if app.current_route == 'app_reservation_index' %}
				<a href="{{ path("app_reservation_index")}}" class="text-gray-800 transition-colors duration-300 transform dark:text-gray-200 border-b-2 hover:border-blue-500 {% if app.current_route == 'app_reservation_index' %} border-blue-500 {% else %} border-transparent {% endif %}">Reservations</a>
				{% elseif app.current_route == 'app_room_index'  %}
				<a href="{{ path("app_room_index")}}" class="text-gray-800 transition-colors duration-300 transform dark:text-gray-200 border-b-2 hover:border-blue-500 {% if app.current_route == 'app_room_index' %} border-blue-500 {% else %} border-transparent {% endif %}">Rooms</a>
				{% endif %}
			</div>
			<a href="{{ path('app_logout') }}">
				<button class="rounded-md py-2 px-3 bg-slate-50 text-black font-semibold hover:bg-slate-300">
					Logout
				</button>
			</a>
		</div>
	</nav>

{% endblock %}
